body {
  margin: 0;
  padding: 0;
  background-color: #c0e6de;
  color: #000;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
