.empty-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }